<header class="header-ct">

<div class="site_nav-ct">

<div class="logo-image">
<img src="assets/images/Blue_Logo.jpg">
</div>



<nav class=" navbar " id="bignav" role="navigation">
          <ul class="site-nav " id="SiteNav">

      <li >
        <a href="#" routerLink="/"  class="site-nav__link site-nav__link--main " #megaclass>
          <span  class="site-nav__label" className="" #superclass>Home</span>
        </a>
      </li>

      <li class="dropdown-ct " >
        <button class="arrow site-nav__link"  aria-expanded="false" >

          <span  class="site-nav__label">Apparel</span>

          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
        </button>

        <div class="dropdown" style="display:none" id="SiteNavLabel-apparel">
            <ul>

                <li>
                  <a href="#" routerLink="/pages/mens-clothing"  class="site-nav__link site-nav__child-link">
                    <span class="site-nav__label">Mens Clothing</span>
                  </a>
                </li>

                <li>
                  <a href="#" routerLink="/pages/womens-clothing" class="site-nav__link site-nav__child-link">
                    <span class="site-nav__label">Womens Clothing</span>
                  </a>
                </li>

                <li>
                  <a href="#" routerLink="/pages/accessories" class="site-nav__link site-nav__child-link">
                    <span class="site-nav__label">Accessories</span>
                  </a>
                </li>

                <li>
                  <a href="#" routerLink="/pages/apparel" class="site-nav__link site-nav__child-link site-nav__link--last">
                    <span class="site-nav__label">All products</span>
                  </a>
                </li>

            </ul>

        </div>
      </li>

      <li>
        <a #megaclass href="#" routerLink="/pages/about" class="site-nav__link site-nav__link--main">
          <span #superclass class="site-nav__label" className="">About</span>
        </a>
      </li>

      <li>
        <a #megaclass href="#" routerLink="/pages/contact" class="site-nav__link site-nav__link--main">
          <span #superclass class="site-nav__label" className="">Contact Us</span>
        </a>
      </li>

</ul>

        </nav>


<div class="icons-ct">



          <button type="button" class="">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 37 40"><path d="M35.6 36l-9.8-9.8c4.1-5.4 3.6-13.2-1.3-18.1-5.4-5.4-14.2-5.4-19.7 0-5.4 5.4-5.4 14.2 0 19.7 2.6 2.6 6.1 4.1 9.8 4.1 3 0 5.9-1 8.3-2.8l9.8 9.8c.4.4.9.6 1.4.6s1-.2 1.4-.6c.9-.9.9-2.1.1-2.9zm-20.9-8.2c-2.6 0-5.1-1-7-2.9-3.9-3.9-3.9-10.1 0-14C9.6 9 12.2 8 14.7 8s5.1 1 7 2.9c3.9 3.9 3.9 10.1 0 14-1.9 1.9-4.4 2.9-7 2.9z"></path></svg>
          </button>



        <a href="/account/login" class="site-header__account login-i">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-login" viewBox="0 0 28.33 37.68"><path d="M14.17 14.9a7.45 7.45 0 1 0-7.5-7.45 7.46 7.46 0 0 0 7.5 7.45zm0-10.91a3.45 3.45 0 1 1-3.5 3.46A3.46 3.46 0 0 1 14.17 4zM14.17 16.47A14.18 14.18 0 0 0 0 30.68c0 1.41.66 4 5.11 5.66a27.17 27.17 0 0 0 9.06 1.34c6.54 0 14.17-1.84 14.17-7a14.18 14.18 0 0 0-14.17-14.21zm0 17.21c-6.3 0-10.17-1.77-10.17-3a10.17 10.17 0 1 1 20.33 0c.01 1.23-3.86 3-10.16 3z"></path></svg>
        </a>

        <a href="/cart" class="site-header__cart">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-cart" viewBox="0 0 37 40"><path d="M36.5 34.8L33.3 8h-5.9C26.7 3.9 23 .8 18.5.8S10.3 3.9 9.6 8H3.7L.5 34.8c-.2 1.5.4 2.4.9 3 .5.5 1.4 1.2 3.1 1.2h28c1.3 0 2.4-.4 3.1-1.3.7-.7 1-1.8.9-2.9zm-18-30c2.2 0 4.1 1.4 4.7 3.2h-9.5c.7-1.9 2.6-3.2 4.8-3.2zM4.5 35l2.8-23h2.2v3c0 1.1.9 2 2 2s2-.9 2-2v-3h10v3c0 1.1.9 2 2 2s2-.9 2-2v-3h2.2l2.8 23h-28z"></path></svg>

        </a>


  <button type="button" style="display:none;" class="site-header__icon site-header__menu js-mobile-nav-toggle mobile-nav--open" aria-controls="MobileNav" aria-expanded="false" aria-label="Menu">

    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 37 40"><path d="M33.5 25h-30c-1.1 0-2-.9-2-2s.9-2 2-2h30c1.1 0 2 .9 2 2s-.9 2-2 2zm0-11.5h-30c-1.1 0-2-.9-2-2s.9-2 2-2h30c1.1 0 2 .9 2 2s-.9 2-2 2zm0 23h-30c-1.1 0-2-.9-2-2s.9-2 2-2h30c1.1 0 2 .9 2 2s-.9 2-2 2z"></path></svg>

    <svg style="height: 100%; width: 100%;" aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 40 40"><path d="M23.868 20.015L39.117 4.78c1.11-1.108 1.11-2.77 0-3.877-1.109-1.108-2.773-1.108-3.882 0L19.986 16.137 4.737.904C3.628-.204 1.965-.204.856.904c-1.11 1.108-1.11 2.77 0 3.877l15.249 15.234L.855 35.248c-1.108 1.108-1.108 2.77 0 3.877.555.554 1.248.831 1.942.831s1.386-.277 1.94-.83l15.25-15.234 15.248 15.233c.555.554 1.248.831 1.941.831s1.387-.277 1.941-.83c1.11-1.109 1.11-2.77 0-3.878L23.868 20.015z" class="layer"></path></svg>
  </button>
</div>

</div>


<!--
<div class="mobilenav">

      <a href="#" RouterLink="/"><img class="navbar_logo" src="assets/Blue_Logo.jpg"></a>

        <nav class=" navbar grid__item" id="AccessibleNav" role="navigation">
          <ul class="site-nav " id="SiteNav">

      <li class="site-nav--active">
        <a href="/" RouterLink="/" class="site-nav__link site-nav__link-active" aria-current="page">
          <span class="site-nav__label">Home</span>
        </a>
      </li>

      <li class="site-nav--has-dropdown" data-has-dropdowns="">
        <button style="font-size:auto;" class="site-nav__link site-nav__link--main site-nav__link--button" type="button" aria-expanded="false" aria-controls="SiteNavLabel-apparel">
          <span style="font-size:1.2em;" class="site-nav__label">Apparel</span><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 498.98 284.49"><defs><style>.cls-1{fill:#231f20}</style></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
        </button>

        <div class="site-nav__dropdown" id="SiteNavLabel-apparel">

            <ul>
                <li>
                  <a href="/pages/mens-clothing" class="site-nav__link site-nav__child-link">
                    <span class="site-nav__label">Mens Clothing</span>
                  </a>
                </li>

                <li>
                  <a href="/pages/womens-clothing" class="site-nav__link site-nav__child-link">
                    <span class="site-nav__label">Womens Clothing</span>
                  </a>
                </li>

                <li>
                  <a href="/pages/accessories" class="site-nav__link site-nav__child-link">
                    <span class="site-nav__label">Accessories</span>
                  </a>
                </li>

                <li>
                  <a href="/pages/apparel" class="site-nav__link site-nav__child-link site-nav__link--last">
                    <span class="site-nav__label">All products</span>
                  </a>
                </li>
            </ul>
        </div>
      </li>

      <li>
        <a href="/pages/about" class="site-nav__link site-nav__link--main">
          <span class="site-nav__label">About</span>
        </a>
      </li>

      <li>
        <a href="/pages/contact" class="site-nav__link site-nav__link--main">
          <span class="site-nav__label">Contact Us</span>
        </a>
      </li>

</ul>
        </nav>


      <div class=" sitehead-ct">
        <div class="site-header__icons-wrapper">





        </div>

      </div>

    </div>


-->




  <div class="hauto maxw banner-ct" >
  <div class="banner_dis">

    <p>Get 15% off for purchases over $50 </p>
    <a href="/pages/apparel">SHOP NOW</a>

  </div>
  </div>


</header>
