<footer class="site-footer" style="margin-bottom:100px; height:auto;     margin-top: 20%; ">

  <p class="footer-title">Quick Links</p>







  <div class="row_footer">

      <ul class=" footer_linklist">
   <p><span>Mens Clothing</span></p>
      <li><a href="/collections/mens-hats">Hats</a> </li>
      <li><a href="/collections/boardshorts"> Boardshorts</a> </li>
      <li><a href="/collections/mens-jackets">Jackets</a> </li>
      <li><a href="/collections/mens-shirts"> Shirts</a> </li>
      <li><a href="/collections/mens-pants">Pants</a> </li>
      <li><a href="/collections/mens-shorts"> Shorts</a> </li>
  </ul>


    <ul class=" footer_linklist">
      <p>
        <span>Womens Clothing</span></p>
      <li><a href="/collections/womens-hats">Hats</a> </li>
      <li><a href="/collections/bikinis"> Bikinis</a> </li>
      <li><a href="/collections/womens-jackets">Jackets</a> </li>
      <li><a href="/collections/womens-shirts"> Shirts</a> </li>
      <li><a href="/collections/womens-pants">Pants</a> </li>
      <li><a href="/collections/womens-shorts"> Shorts</a> </li>
 	 </ul>



    <ul class=" footer_linklist">
      <p class="footer_link-title"><span>Accesories</span></p>
      <li><a href="/collections/belts">Belts</a> </li>
      <li><a href="/collections/watches">Watches</a> </li>
  		<li><a href="/collections/sunglasses">Sungless</a> </li>
      <li><a href="/collections/bags">Bags</a> </li>
       <li><a href="/collections/phone-cases">Phone cases</a> </li>
		<li><a href="/collections/necklaces">Necklaces</a> </li>
       <li><a href="/collections/bracelets">Braclets</a> </li>
  </ul>

  </div>

  <div class="row_footer">

    <ul class=" footer_linklist">
    <p class="footer_link-title"><span>Social</span></p>
      <li><a href="/about">About</a> </li>
      <li><a href="/contact">Contact</a> </li>
    <li><a href="www.facebook.com">Facebook</a> </li>
    <li><a href="www.instagram.com">Instagram</a> </li>
    <li><a href="www.twitter.com">Twitter</a> </li>
  </ul>





    <ul class="footer_linklist">
      <p class="footer_link-title"><span>More Info</span></p>
      <li><a href="/pages/privacy-policy">Privacy Policy</a> </li>
      <li><a href="/pages/shipping-policy">Shipping Policy</a> </li>
      <li><a href="/pages/terms-and-conditions">Terms Of USE</a> </li>
  </ul>

    <div class="social-ct" style="width:100%; display:flex; justify-content:center; height:auto; ">
      <a href="https://www.instagram.com/clothesabyss/"><div class="s1"> </div></a>
      <a href="https://www.facebook.com/clothesabyss/"> <div class="s2"> </div></a>
      <a href="https://www.twitter.com/clothesabyss/"><div class="s3"> </div></a>

 	 </div>

  </div>


  <div class="bottom-footer">

   <p>Thanks for stopping by our site. weve came along way to get where we are and we always keep imporving. </p>
    <p> <span>© Clothesabyss 2020</span></p>
         <div class="footer_logo"> </div>
    </div>
</footer>
