<div class="maxw feature-row-ct " style="margin-top: 22%;">
  <div class="text-center fr-title-ct" style="position:relative;">
  <p class="maxw" style="font-size: 30px;">About Summery </p>

</div>

  <div class="image-side-ct fr-home" style="padding-bottom:50%;">

  </div>

   <div class="text-side-ct">
     <div class="box">
       <p>
       Our goal is to integrate technology with surfing and bring you the best products. What we care about the most is our customers. We want you to feel like your vibing on the beach in the sun!

       </p>
     </div>

  </div>





</div>
<div class="maxw feature-row-ct flex-col-rev">


   <div class="text-side-ct">
     <div class="box">
       <p>
       Our products are made of high quality material and will make you stand out anywhere you go! We encourage you to get outside and enjoy the beach.

We love our customers and hope that you find everything you need!


       </p>
     </div>

  </div>

   <div class="image-side-ct fr-home2" style="padding-bottom:50%;">

  </div>




</div>
