<div class="container-slide switch_image" style="width:100%; flex-wrap:wrap; height:auto; display:flex; justify-content:center;">

<div class=" container-XZ center_cells" style="width:96%!important;">
<div class="main-carousel" style="height:auto; width:100%; box-sizing:border-box;  height:auto;" data-flickity="{

                                 &quot;cellAlign&quot;: &quot;center&quot;,
                                 &quot;contain&quot;: true,
                                 &quot;setGallerySize&quot;: false,
                                  &quot;wrapAround&quot;:true,
                                 &quot;resize&quot;: true,
                                  &quot;pageDots&quot;: false,
                                  &quot;groupCells&quot;: true,
								 &quot;prevNextButtons&quot;: false,
								 &quot;touchVerticalScroll&quot;: false,
                      	             &quot;watchCSS&quot;: true ,
                    			&quot;adaptiveHeight&quot;: true




}">

  <div class="carousel-cell col_2 " style="display: inline-block; width:49%">
    <div class="img-cell2 cell_1 image-changed" style="background-image: url(&quot;https://cdn.shopify.com/s/files/1/0182/1471/5476/t/1/assets/wide1.jpg?&quot;);">
    <div class="text-cell2">
      <a href="pages/mens-clothing" class="overlay_btn btn">Mens Clothing</a>
    </div>
  </div>


</div>

    <div class="carousel-cell col_2" style="display: inline-block; width:49% ">
    <div class="img-cell2 cell_2 image-changed" style="background-image: url(&quot;https://cdn.shopify.com/s/files/1/0182/1471/5476/t/1/assets/wide2.jpg?&quot;);">
   <div class="text-cell2">
      <a href="pages/womens-clothing" class="overlay_btn btn">Womens Clothing</a>
    </div>
      </div>

</div>


          </div>

  </div>


</div>
