
  @import '../../flickity.scss';


  .product-card{
    position: relative;
    margin: 0px;
}

.grid-view-item__image-container {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    text-align: center;
    width: 100%;
    height: 100%;
}
.trap-image-grid {
    width: auto;
    height: 240px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    max-height: 80%;
    min-width: -webkit-fill-available;
    min-height: 60%;

    .trap-image-grid img {
    max-height: 80%;
    max-width: 80%;
    margin: auto auto;
}

}
.product-card__title {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid transparent;
}
.grid-view-item__title {
    margin-bottom: 0;
    color: black;
    text-align: center;
}
.price, .price__regular {
    width: 100%;
    text-align: center;
}

.price {
    width: 100%;
    color: black;
    height: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
}

.price__regular {
    color: black;
    width: 100%;
    text-align: center;
    width: 100%;
}
.price--on-sale .price-item--regular{
    text-decoration: line-through;


}
.price-item {
    font-weight: 400;
        font-size: 18px;

}
span{ font-family: "Original Surfer";}
.price--on-sale .price__sale {
    display: block;
}

.price__sale {
    color: red;
    display: none;
    width: 100%;
    text-align: left;
}

.productcard-ct{

    width: 100%;
    height: 100%;
    img{
       width: 100%;
}

}
