<div class="image-container image-sizing" style="min-width:200px; margin-bottom:0px; min-height:200px;">


  <div class="image-changed home_accesories  switch_image " id="image-changed-1572306266261" style="background-image: url(&quot;https://cdn.shopify.com/s/files/1/0182/1471/5476/t/1/assets/home_accesories.jpg?57188&quot;);">

    <div class="hero_inner">
      <a href="/pages/accessories" style="width:300px; height:50px;" class="btn hero__btn">Accessories</a>

    </div>

  </div>


  <div class="image-slider img-counter" style="display:none;">

  <div class="hero_inner ">
      <p class="hero_inner-para"></p>
      <a href="/home" class="btn hero__btn"></a>

    </div>



  </div>



</div>
