@import '../styles.scss';


body,html{width:100%; margin:0px; padding:0px;}
.hauto{height:auto;}
.maxw{width:100%;}

.mainrouterpage{width:100%;height:auto;}

p, a, span {
    font-family: "Original Surfer";
}
