<div class="image-container" style="width:100%; height: 100vh; ">


  <div [ngClass]="getImgClass()" id="imageChg">

    <div class="hero_inner" style="text-align:center; color:white;" >
      <p class="hero_inner-para">Surf the wave of life with the clothes you wear!
</p>
    </div>

    <div style="
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
" class="ct-btn">
        <a style="" href="/pages/apparel" class="btn hero__btn hero__btn">Shop Now</a>
    </div>

  </div>






</div>
